.case-fields {
    margin-bottom: 14px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.space-between {
    display: flex;
    justify-content: space-between; 
}

::-webkit-scrollbar {
    width: 8px; 
    background-color: #dfdfdf;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 8px;
}

.content {
    max-height: 260px;
    overflow:auto;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 4px;
}

.case-title {
    display: inline-flex;
    padding-bottom: 8px;
}

h1 {
    font-weight: 600;
    margin-right: 6px;
}

.field-title {
    font-weight: 500;
}

.cases-total-number {
    font-weight: 500;
    padding-left: 4px;
    color: gray;
}