/**
 * Created by JU on 09.12.2022.
 */
:host{
    --slds-c-input-text-color:var(--lwc-colorTextDefault,rgb(3, 45, 96));
    --slds-c-input-spacing-horizontal-start:0 !important;
}

.notUsed{
    --webkit-text-fill-color:var(--lwc-colorTextDefault,rgb(3, 45, 96));
    --slds-c-input-color-border:var(--lwc-colorTextDefault,rgb(3, 45, 96));
}

.parkingPage{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-family: 'Pembroke-Regular', 'Arial', 'Sans-Serif';
    color: #333333;
}

.form-box{
    padding: 2% 10% 2% 10%;
}

.slds-button.confirm-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    border-radius: 4px;
    background-clip: padding-box;
    font-style: normal;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 350px;
    position: relative;
    left:50%;
    transform: translate(-50%);
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    font-family: Pembroke,Arial,sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 30px;
    font-weight: 500;
    border: none;
    color: #55565A;
    background-color: #FBDD0F;
    box-shadow: 0 2px 0 0 #d2b82b, 0 3px 2px 0 rgb(0 0 0 / 20%);
    height: 100%;
}

.slds-button.confirm-button:hover {
    color:inherit;
    background-color:#ffea6a;
}

.slds-button.confirm-button:focus {
    box-shadow:none;
}

.slds-button.confirm-button:disabled {
    background-color:#E6E6E7;
    box-shadow:none;
    cursor:default;
    color:#55565A;
    border-color:#E6E6E7;
}

.commentModal{
    width:100%;
    background-color: #F5F5F5;
    padding: 5px;
    margin-top: 2%;
    border-color: #8e8e8e;
    border-radius:  4px;
    box-shadow: 0 2px 0 0 #C8C8C8, 0 3px 2px 0 rgb(0 0 0 / 20%);
    max-height: 40vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.commentText-body{
    font-size: 15px;
    line-height: 15px;
    font-family: 'Pembroke-Regular', 'Arial', 'Sans-Serif';
    color: #333333;
    padding-bottom: 2%;
    font-weight: lighter;
}

.commentText-header{
    padding-bottom: 2px;
    font-size: 15px;
    line-height: 15px;
    font-family: 'Pembroke-Regular', 'Arial', 'Sans-Serif';
    color: darkred;
    padding-top: 2px;
    font-weight: bold;
}

.fieldError{
    padding-top: 10px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);;
}

.radio-combo-inline .slds-form-element__control .slds-radio {
    display: inline-block !important;
}